<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-12 col-12 main_header_left align-item">
                        <figure>
                            <img src="/images/404.png" alt="mahindra" class="img-fluid" title="creator image">>
                        </figure>
                        <p>Welcome to the Sky.Weather app</p>
                        <h1>{{errorMsg}}</h1>
                        <a href="/"><button>go back</button></a>


                    </div>
                </div>
            </div>
        </div>

        <!-- footer section -->
        {{>footer}}

</body>

</html>