<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body style="background-image: url('../images/cloud-bg.png'); background-repeat: repeat-x; background-size: cover;" >
  {{>navbar}}
    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-item-center">

                        <figure>
                             <img src="/images/img4.png" alt="mahindra" class="img-fluid" title="creator image">>
                        </figure>
 
                     </div>
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to the Sky.Weather app</p>
                        <h1>I Am A Aspiring   <span class="text_clr">Mern Stack Developer</span>, WordPress Developer, YouTuber And A Student.</h1>
                        <a href="https://github.com/mahendra-shah" target="_blank"><button>about me</button></a>
                    </div>
                    <!-- right side div  -->
                   
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer section -->
    {{>footer}}
</body>

</html>